@import './utils.scss';
@import './antd.scss';

body {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

* {
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    cursor: pointer;
    opacity: 0;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    opacity: 0;
  }

  &:hover {
    &::-webkit-scrollbar {
      transition: opacity 0.3s ease-in 3s;
      opacity: 1;
    }
    &::-webkit-scrollbar-thumb {
      transition: opacity 0.3s ease-in 3s;
      opacity: 1;
      background-color: #dfdfdf;
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
