.app-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .aside-container {
    user-select: none;
    .aside {
      height: 100vh;
      overflow-y: auto;
      .logo {
        height: 32px;
        line-height: 1;
        margin: 14px 0;
        color: #fff;
        text-align: left;
        padding-left: 14px;
        font-size: 30px;
        opacity: 1;
        transform: translateX(0);
        transition: opacity 0.3s ease-in 0.3s;
        transition: transform 0.3s ease-in 0.3s;
      }
    }
  }

  .main-container {
    .header-container {
      height: 50px;
      line-height: 1;

      .header {
        background-color: #fff;
        box-shadow: 0 1px 4px rgb(0 21 41 / 8%);
        display: flex;
        justify-content: space-between;

        .header-left,
        .header-right {
          display: flex;
          align-items: center;
        }

        .header-left {
          .app-breadcrumb {
            user-select: none;
            width: 100%;
            height: 30px;
            display: flex;
            align-items: center;
            padding: 0 10px;
          }

          .menu-trigger {
            padding: 0 24px;
            font-size: 18px;
            line-height: 50px;
            cursor: pointer;
            transition: color 0.3s;

            &:hover {
              color: #1890ff;
            }
          }
        }

        .header-right {
          .user-area {
            display: flex;
            align-items: center;
          }
        }
      }
    }

    .content-container {
      position: relative;

      .app-content {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden auto;

        .tag-views-container {
          height: 100%;
          width: 100%;

          > .ant-tabs-nav {
            border-top: 1px solid #eaedf1;
            box-shadow: 0 1px 3px 0 rgb(0 0 0 / 12%), 0 0 3px 0 rgb(0 0 0 / 4%);
            background-color: #fff;
            margin: 0;
            height: 28px;
            user-select: none;

            .ant-tabs-nav-more {
              padding: 0 16px;
            }

            .ant-tabs-tab-remove {
              margin-left: 0;
              margin-right: -6px;
            }

            .ant-tabs-nav-list {
              align-items: center;
              > .ant-tabs-tab {
                height: 24px;
                padding: 6px;
                font-size: 12px;
              }
            }

            .ant-tabs-tab-active {
              background-color: #42b983;
              > .ant-tabs-tab-btn {
                color: #fff;
              }
            }
          }

          > .ant-tabs-content-holder {
            position: relative;
            .route-tab-pane {
              position: absolute;
              width: 100%;
              height: 100%;
              display: flex;
            }
          }
        }
      }
    }
  }
}

.ant-layout-sider-collapsed {
  .logo {
    transform: translateX(-500%) !important;
    opacity: 0 !important;
  }
}
