$--mp-size: 10px !default;

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.shadow {
  box-shadow: 0 2px 10px rgb(94 117 195 / 10%);
}

.background-color {
  background-color: #fff;
}

.padding {
  padding: $--mp-size;
}

.margin {
  margin: $--mp-size;
}

// 内容尺寸
.size {
  width: calc(100% - #{$--mp-size} * 2);
  height: calc(100% - #{$--mp-size} * 2);
}

.card-layout {
  flex: 1;
  @extend .background-color;
  @extend .flex-column;
  @extend .flex;

  .header-bar {
    @extend .flex;
    height: 36px;
    font-size: 12px;
    line-height: 36px;
    padding: 0 10px;
    background-color: #f9faff;
    border-bottom: 1px solid #eaedf1;
  }

  > .content-area {
    flex: 1;
    overflow: auto;
    padding: 10px;
  }
}

.grid-layout {
  flex: 1;
  @extend .flex;
  @extend .flex-column;
  @extend .background-color;
  @extend .padding;
}

// 查询栏
.search-bar {
  & + .tool-bar {
    padding-top: 10px;
    border-top: 1px solid #eaedf1;
  }

  .el-form {
    .el-form-item {
      margin-right: 10px;

      &:nth-last-child(2) {
        margin-right: 10px;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

// 工具栏
.tool-bar {
  padding: 0 0 10px 0;
}

// 分页栏
.pagination-bar {
  padding: 10px 0 0;

  > div {
    padding: 0;
  }
}

// 树面板
.tree-area {
  width: 300px;
  @extend .background-color;
  @extend .padding;
  @extend .flex-column;

  > .tree-search {
    height: 32px;
    margin: 0 0 10px 0;
  }

  > .tree-content {
    flex: 1;
    overflow: auto;
  }
  & + .content-area {
    margin-left: $--mp-size;
  }
}

.tree-grid-layout {
  @extend .size;
  @extend .margin;
  @extend .tree-module-wrapper;
}

// 供左边树+右边列表模块使用
.tree-module-wrapper {
  display: flex;

  > .content-area {
    flex: 1;
    overflow: auto;
    @extend .flex-column;
    @extend .grid-layout;

    > .grid-layout,
    > .card-grid-layout {
      flex: 1;
      overflow: auto;

      &:not(:first-child) {
        margin-top: 10px;
      }
    }
  }
}
